extends layout

block scripts
  script(src='/javascripts/wordlists.js')
  script(src='/javascripts/option_dialog.js')

block content
    h1.
        Word Lists
    table
        each wordList, i in wordLists
            tr
                td #{wordList.name}
                td
                  a.btn.btn-default(href="/wordlists/view/#{wordList._id}" role="button") View
                td
                  div.dropdown
                    button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu#{i+1}" data-toggle="dropdown" aria-expanded="true") Select Game
                        span.caret
                    ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu#{i+1}")
                        li(role="presentation")
                             a(role="menuitem" tabindex="-1" href="/wordlists/#{wordList._id}/guessword") Guess Word
                        li(role="presentation")
                             a(role="menuitem" tabindex="-1" href="/wordlists/#{wordList._id}/spellword") Spell Word